################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SEM2/Source.cpp
/SEM2/Source.cpp
