[submodule "SEM2/Lab2/ext/glfw"]
	path = SEM2/Lab2/ext/glfw
	url = https://github.com/glfw/glfw
[submodule "SEM2/Lab2/ext/imgui"]
	path = SEM2/Lab2/ext/imgui
	url = https://github.com/onurpaca/imgui-cmake
