################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe

*.txt

*.o

*.so

*/bin

*/obj

SEM1/

*.json

*.cmake

*.log

build/

.cache/

bindings/

.vscode/

external/

.*
